.arrow-down {
  color: #fff;
  margin-left: 105px;
  position: absolute;
}

.arrow-up-close {
  color: #fff;
  margin-left: 30px;
  position: absolute;
}

.sort {
  background: #901c1c;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
}

.sort-radius-1 {
  border-radius: 5px 5px 0px 0px;
}

.sort-radius-2 {
  border-radius: 0px 0px 5px 5px;
}

.sort-li ::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 37px;
  width: 130px;
  border: white solid 1px;
}

.sort-radius-2 ::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 78px;
  width: 130px;
  border: white solid 1px;
}

.sort-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #901c1c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  padding: 10px 20px;
  position: absolute;
  width: 160px;
  top: 445px;
  cursor: pointer;
}

.works-sort {
  display: flex;
  gap: 15px;
  margin: 30px 0px;
}

.works-sort > span {
  font-size: 1.1875em;
  font-weight: 700;
}

.hidden-sort {
  border-radius: 5px;
  color: #fff;
  display: none;
  padding: 0;
  position: absolute;
  width: 160px;
  top: 445px;
  z-index: 10;
}

ul.hidden-sort li:hover {
  background-color: #db8876;
  color: #000000;
  cursor: pointer;
}

ul.hidden-sort li:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
