@import url("modal.css");
@import url("nav.css");
@import url("lightbox.css");
@import url("root.css");
@import url("header.css");

.photographer__profileCard__contactButton:focus,
.photographer__profileCard__contactButton:hover {
  background-color: #db8876;
  color: #000000;
}
.photographer__profileCard {
  background-color: #fafafa;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.photographer__profileCard__infos {
  margin-right: auto;
}

.photographer__profileCard__infos__name {
  color: #d3573c;
  font-size: 4em;
}

.photographer__profileCard__infos__location {
  font-size: 1.5em;
  color: #901c1c;
}

.photographer__profileCard__infos__description {
  font-size: 1.125em;
  color: #525252;
  margin-top: 19px;
}

.photographer__profileCard__contactButton {
  font-size: 1.25em;
}

.photographer__profileCard__picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
}

.displayMediaSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.displayMediaSection__mediaCard {
  margin-bottom: 15px;
}

.displayMediaSection__mediaCard__link {
  display: inline-block;
  position: relative;
}

.displayMediaSection__mediaCard__picture {
  width: 388.8px;
  height: 388.8px;
}

.displayMediaSection__mediaCard__desc {
  font-size: 1.3em;
  color: #901c1c;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.displayMediaSection__mediaCard__desc__likes {
  font-weight: 500;
  padding-right: 21px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}
.displayMediaSection__mediaCard__desc__likes::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  right: 0;
  width: 19px;
  height: 19px;
  background: url(../public/assets/icons/heart.svg) center no-repeat;
}

.boxLikesPrice {
  background-color: #db8876;
  font-size: 1.5em;
  font-weight: 500;
  width: 376px;
  padding: 21px 31px 10px 31px;
  border-radius: 5px 5px 0 0;
  position: fixed;
  right: 36px;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.boxLikesPrice svg {
  margin-left: 6px;
}

.boxLikesPrice__price {
  margin-left: auto;
}

.style {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  font-size: inherit;
}
